<!DOCTYPE html>
<html>
  <head>
    <title>EmailOnlySignUp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      LOG OUT
    <% else %>
      <%= link_to 'sign_up', new_user_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
